.block-header {
  display: flex;
  margin-bottom: 1rem;
}

.block-title {
  background: #dddddd;
}

.block-header {
  display: flex;
}

.consultation-id-header {
  width: 5%;
}

.consultation-lastName-header {
  width: 15%;
  margin-right: 1rem;
}

.consultation-status-header {
  width: 10%;
  margin-right: 1rem;
}

.consultation-created-header {
  width: 20%;
  margin-right: 2rem;
}

.consultation-assigned-header {
  width: 15%;
  margin-right: 1rem;
}

.consultation-options-header {
  width: 25%;

  button {
    margin-right: 1rem;
  }
}
