<div>

  <mat-card class="block block-title block-header">
    <div class="consultation-id-header">
      #
    </div>
    <div class="consultation-lastName-header">
      Фамилия
    </div>
    <div class="consultation-status-header">
      Статус
    </div>
    <div class="consultation-created-header">
      Время создания
    </div>
    <div class="consultation-assigned-header">
      Дата консультации
    </div>
    <div class="consultation-options-header">
    </div>
  </mat-card>

  <mat-card class="block block-header" *ngFor="let consultation of consultations; let idx = index">
    <div class="consultation-id-header">
      {{ idx+1 }}
    </div>
    <div class="consultation-lastName-header">
      {{consultation.lastName }}
    </div>
    <div class="consultation-status-header">
      <mat-chip-list>
        <mat-chip color="primary" selected *ngIf="consultation.consultationStatus === 'CONFIRMED'">Подтвержден</mat-chip>
        <mat-chip color="warn" selected *ngIf="consultation.consultationStatus === 'CANCELLED'">Отменена</mat-chip>
        <mat-chip color="accent" selected *ngIf="consultation.consultationStatus === 'NEW'">Новый</mat-chip>
      </mat-chip-list>
    </div>
    <div class="consultation-created-header">
      {{ consultation.createdAt }}
    </div>
    <div class="consultation-assigned-header">
      {{ consultation.assignedAt }}
    </div>
    <div class="consultation-options-header">
      <button *appHasRole="canEdit" mat-stroked-button (click)="openDialog(consultation.id)">Открыть</button>
      <button class="button delete-button" mat-stroked-button (click)="openDeleteDialog(consultation.id)">Удалить</button>
    </div>
  </mat-card>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="getProjectsData($event)"
  >
  </mat-paginator>

</div>
