<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание ивента</h1>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Название ивента</mat-label>
    <input matInput id="name" formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Категория ивента</mat-label>
    <input matInput id="type" formControlName="type">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Адрес ивента</mat-label>
    <input matInput id="address" formControlName="address">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-time">
    <mat-label>Введите дату и время</mat-label>
    <input matInput type="datetime-local" id="time" formControlName="time">
  </mat-form-field>

  <div class="form-control" >
    <button mat-raised-button color="primary" (click)="fileInput.click()" >Выберите изображение</button><span class="span">{{ imageName }}</span>
    <input (change)="onFileSelect($event)" #fileInput type="file"  class="display-none" >
  </div>

  <div class="form-control">
    <label>Описание ивента:</label>
    <quill-editor formControlName="description"></quill-editor>
  </div>

  <button mat-raised-button
    type="submit"
    [disabled]="form.invalid"
  >Создать ивент</button>

</form>
