<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание пользователя</h1>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Имя</mat-label>
    <input matInput id="firstName" formControlName="firstName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Фамилия</mat-label>
    <input matInput id="lastName" formControlName="lastName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input" >
    <mat-label>User name</mat-label>
    <input matInput id="userName" formControlName="userName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input" >
    <mat-label>Email</mat-label>
    <input matInput id="email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input" >
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error>Введите минимум 6 символов</mat-error>
  </mat-form-field>

  <button mat-raised-button
          type="submit"
          [disabled]="form.invalid"
  >Создать пользователя</button>
</form>
