<div *ngIf="this.data.type === 'changePassword'">
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <h2>Смена пароля</h2>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Введите старый пароль</mat-label>
        <input matInput [type]="hideOld ? 'password' : 'text'" formControlName="oldPassword">
        <button mat-icon-button matSuffix (click)="hideOld = !hideOld"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOld">
          <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Введите новый пароль</mat-label>
        <input matInput [type]="hideNew ? 'password' : 'text'"
               formControlName="newPassword">
        <mat-error>Введите не менее 6 символов</mat-error>
        <button mat-icon-button matSuffix (click)="hideNew = !hideNew"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNew">
          <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button
      mat-stroked-button
      type="submit"
      [disabled]="form.invalid"
    >Изменить пароль
    </button>
  </form>
</div>


<div *ngIf="this.data.type === 'userUpdate'">
  <div class="spinner" *ngIf="userProfile; else loading">
    <form [formGroup]="form" (ngSubmit)="changeUserProfile()">
      <h2>Обновление данных</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Введите имя</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Введите фамилию</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div>

      <button
        mat-stroked-button
        type="submit"
        [disabled]="form.invalid"
      >Обновить
      </button>
    </form>
  </div>
</div>

<div *ngIf="this.data.type === 'updateRoles'">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Текущие роли</h2>

      <div
        cdkDropList
        [cdkDropListData]="currentRoles"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of currentRoles" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Доступные роли</h2>

      <div
        cdkDropList
        [cdkDropListData]="availableRoles"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of availableRoles" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
  <div>
    <button mat-button (click)="updateRoles()">Обновить роли</button>
  </div>
</div>

<ng-template #loading>
  <mat-spinner
    [color]="color"
  >
  </mat-spinner>
</ng-template>
