.block {
  margin-bottom: 1rem;
}
.panel-header {
  display: inline-block;
}

.vacancy-id {
  width: 10%;
}

.vacancy-company{
  width: 30%;
}

.vacancy-name{
  width: 40%;
}

.vacancy-options {
  width: 20%;
}

.button {
  margin-right: 1rem;
}
