<div>

  <mat-card class="block block-title">

    <div class="panel-header vacancy-id">
      #
    </div>

    <div class="panel-header vacancy-company">
      Компания
    </div>

    <div class="panel-header vacancy-name">
      Название
    </div>

    <div class="panel-header vacancy-options">
      <button *appHasRole="canEdit" mat-raised-button [routerLink]="['/admin/vacancy', 'create']">Создать</button>
    </div>

  </mat-card>

  <mat-card class="block" *ngFor="let vacancy of vacancies; let idx = index">
      <div class="panel-header vacancy-id">
        {{ idx + 1 }}
      </div>

      <div class="panel-header vacancy-company">
        {{ vacancy.company }}
      </div>

      <div class="panel-header vacancy-name">
        {{ vacancy.name }}
      </div>

      <div *appHasRole="canEdit" class="panel-header vacancy-options">
        <button class="button change-button" mat-stroked-button [routerLink]="['/admin', 'vacancy', vacancy.id, 'edit']">Изменить</button>
        <button class="button delete-button" mat-stroked-button (click)="delete(vacancy.id)">Удалить</button>
      </div>

  </mat-card>

  <mat-paginator
                [length]="length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="getVacanciesData($event)"
  >
  </mat-paginator>

</div>
