<h1 mat-dialog-title>
  {{this.data["content"].header}}
</h1>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Нет</button>
  <button mat-button [mat-dialog-close] = true>Да</button>
</mat-dialog-actions>
