.add-user {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 99;
}

.actions-project {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-id-header {
  width: 5%;
  margin-right: 2rem;
}

.project-author-header{
  width: 20%;
}

.project-header-header{
  width: 20%;
  margin-right: 5rem;
}

.project-status-header{
  width: 15%;

}

.project-options-header {
  width: 25%;
}

.project-header-main {
  display: flex;
  align-items: center;
  align-content: center;
  background: #cccccc;
}

.project-author{
  width: 15%;
}

.project-header{
  width: 20%;
}

.project-status{
  width: 10%;

}

.project-options {
  width: 25%;
}

.block {
  margin-bottom: 1rem;
}

.button {
  margin-right: 1rem;
}

mat-panel-title {
  align-items: center;
  align-content: center;
}

.block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 300px;
}

.images-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image {
  position: relative;
  margin-right: 1rem;
}

.project-details {
  display: flex;
  margin-bottom: 1rem;
  img {
    width: 300px
  }
}
