<div *appHasRole="canEdit" class="add-user">
  <button mat-fab color="primary" [routerLink]="['/admin/project', 'create']">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-card class="project-header-main block">

  <div class="project-id-header">
    #
  </div>

  <div class="project-header-header">
    Заголовок
  </div>

  <div class="project-author-header">
    Автор
  </div>

  <div class="project-status-header">
    Статус
  </div>
</mat-card>
<div>
  <mat-expansion-panel (click)="getProject(project.id)" *ngFor="let project of projects; let idx = index" class="block">
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">

      <mat-panel-title class="project-id">
        {{ idx + 1 }}
      </mat-panel-title>

      <mat-panel-title class="project-author">
        {{ project.header }}
      </mat-panel-title>

      <mat-panel-title class="project-header">
        {{ project.authorName }}
      </mat-panel-title>

      <mat-panel-title class="project-status">
        <mat-chip-list>
          <mat-chip color="primary" selected *ngIf="project.status === 'PUBLISHED'">Опубликована</mat-chip>
          <mat-chip color="warn" selected *ngIf="project.status === 'NEW'">Не опубликована</mat-chip>
        </mat-chip-list>
      </mat-panel-title>

      <mat-panel-title *appHasRole="canEdit"
                       (click)="expandPanel(expansionPanel, $event)"
                       class="project-options">

        <a class="button change-button" mat-stroked-button [routerLink]="['/admin', 'project', project.id, 'edit']">Изменить</a>
        <button class="button delete-button" mat-stroked-button (click)="openDialog(project.id)">Удалить</button>
        <button mat-stroked-button (click)="changeStatus(project.id, project.status)"
                *ngIf="project.status === 'PUBLISHED'">Спрятать
        </button>
        <button mat-stroked-button (click)="changeStatus(project.id, project.status)" *ngIf="project.status === 'NEW'">
          Опубликовать
        </button>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="project-details">
        <img src="{{ project.mainImage.preview }}" alt="image">
        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
          <div>{{ this.getSingleProject.get(project.id).description }}</div>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="images-container">
        <div class="image" *ngFor="let image of getSingleProject.get(project.id).images">
          <img [src]="image.preview" alt="image">
        </div>
        <div *ngIf="project.videoEmbedUrl !== null"><iframe [src] = "updateVideoUrl(project.videoEmbedUrl)" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
    </ng-template>

  </mat-expansion-panel>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="getProjectsData($event)"
  >
  </mat-paginator>

</div>

