<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="input" >
      <mat-label>Автор истории</mat-label>
      <input matInput id="authorName" formControlName="authorName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input" >
      <mat-label>Заголовок истории</mat-label>
      <input matInput id="header" formControlName="header">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input" >
      <mat-label>URL видео</mat-label>
      <input matInput id="videoUrl" formControlName="videoUrl">
      <mat-error>
        Please enter a valid URL address
      </mat-error>
    </mat-form-field>

    <div class="form-control">
      <label>Описание вакансии:</label>
      <quill-editor formControlName="description"></quill-editor>
    </div>

    <button mat-raised-button color="accent"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Обновить историю</button>
  </form>
</div>
