<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание вакансии</h1>
    <mat-form-field appearance="outline" class="input" >
      <mat-label>Введите название вакансии</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Опыт работы</mat-label>
    <mat-select id="experience" formControlName="experience" panelClass="mat-form-field-ripple">
      <mat-option value="INTERN">Intern</mat-option>
      <mat-option value="JUNIOR">Junior</mat-option>
      <mat-option value="MIDDLE">Middle</mat-option>
      <mat-option value="SENIOR">Senior</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Введите название компании</mat-label>
    <input matInput id="company" formControlName="company">
  </mat-form-field>

  <div class="form-control">
    <label>Описание вакансии:</label>
    <quill-editor formControlName="description"></quill-editor>
  </div>

  <button mat-raised-button
  type="submit"
  [disabled]="form.invalid"
  >Создать вакансию</button>
</form>


