<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание истории</h1>

  <div class="form-control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Автор истории</mat-label>
      <input matInput id="authorName" formControlName="authorName">
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field appearance="outline">
      <mat-label>Заголовок истории</mat-label>
      <input matInput id="header" formControlName="header">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline" class="input">
    <mat-label>URL видео</mat-label>
    <label for="videoUrl"></label><input matInput id="videoUrl" formControlName="videoUrl">
    <mat-error>
      Please enter a valid URL address
    </mat-error>
  </mat-form-field>

  <div class="form-control">
    <button mat-raised-button color="primary" (click)="fileInput.click()">Выберите изображение</button>
    <span class="span">{{ imageName }}</span>
    <input (change)="onFileSelect($event)" #fileInput type="file" name="image" class="display-none"
           formControlName="image">
  </div>
  <div class="form-control">
    <label>Описание вакансии:</label>
    <quill-editor formControlName="description"></quill-editor>
  </div>

  <button mat-raised-button
          type="submit"
          [disabled]="form.invalid"
  >Создать историю
  </button>
</form>
