.block-title {
  background: #dddddd;
}

.block {
  margin-bottom: 1rem;
}

.story-author{
  width: 15%;
}

.story-header{
  width: 20%;
}

.story-status{
  width: 10%;

}

.story-options {
  width: 25%;
}

.button {
  margin-right: 1rem;
}

img {
  width: 300px;
}

mat-panel-title {
  align-items: center;
  align-content: center;
}

.block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-content-margin {
  margin-right: 3rem;
}

.block-header {
  display: flex;
}

.story-id-header {
  width: 5%;
  margin-right: 2rem;
}

.story-author-header{
  width: 20%;
}

.story-header-header{
  width: 20%;
  margin-right: 5rem;
}

.story-status-header{
  width: 15%;

}

.story-options-header {
  width: 25%;
}
