<div>
  <mat-card class="block block-title block-header">

    <div class="story-id-header">
      #
    </div>

    <div class="story-author-header">
      Автор
    </div>

    <div class="story-header-header">
      Название
    </div>

    <div class="story-status-header">
      Статус
    </div>

    <div class="story-options-header">
      <button *appHasRole="canEdit" mat-raised-button [routerLink]="['/admin/story', 'create']">Создать</button>
    </div>

  </mat-card>

  <mat-expansion-panel *ngFor="let story of stories; let idx = index" class="block">
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">

      <mat-panel-title class="story-id">
        {{ idx + 1 }}
      </mat-panel-title>

      <mat-panel-title class="story-author">
        {{ story.authorName }}
      </mat-panel-title>

      <mat-panel-title class="story-header">
        {{ story.header }}
      </mat-panel-title>

      <mat-panel-title class="story-status">
        <mat-chip-list>
          <mat-chip color="primary" selected *ngIf="story.status === 'PUBLISHED'">Опубликована</mat-chip>
          <mat-chip color="warn" selected *ngIf="story.status === 'NEW'">Не опубликована</mat-chip>
        </mat-chip-list>
      </mat-panel-title>

      <mat-panel-title *appHasRole="canEdit"
                       (click)="expandPanel(expansionPanel, $event)"
                       class="story-options">
        <a class="button change-button" mat-stroked-button [routerLink]="['/admin', 'story', story.id, 'edit']">Изменить</a>
        <button class="button delete-button" mat-stroked-button (click)="openDialog(story.id)">Удалить</button>
        <button mat-stroked-button (click)="changeStatus(story.id, story.status)" *ngIf="story.status === 'PUBLISHED'">Спрятать</button>
        <button mat-stroked-button (click)="changeStatus(story.id, story.status)" *ngIf="story.status === 'NEW'">Опубликовать</button>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="block-content">
        <div class="block-content-margin"><img src="{{ story.image.main }}" alt="image"></div>
        <div ><iframe [src] = "updateVideoUrl(story.videoEmbedUrl)" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
    </ng-template>

  </mat-expansion-panel>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="getStoriesData($event)"
  >
  </mat-paginator>

</div>
