<div>
  <div *appHasRole = "canEdit" class="add-user">
    <button mat-fab color="primary" [routerLink]="['/admin/user', 'create']">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="container-cards">
    <mat-card class="user-card" *ngFor="let user of users">
      <div mat-card-avatar class="example-header-image"></div>
        <h2>{{user.lastName + ' ' + user.firstName}}</h2>
        <h4>{{user.email}}</h4>
      <mat-card-content>
        <p>
          <mat-chip-list>
            <mat-chip color="primary"
                      *ngFor="let userRole of user.roles"
                      selected
            >
              {{userRole.replace('ROLE_', '')}}
            </mat-chip>
          </mat-chip-list>
        </p>
      </mat-card-content>
      <mat-card-actions *appHasRole = "canEdit">
        <button mat-button (click)="openUpdateProfileDialog(user.id)">Обновить данные</button>
        <button mat-button (click)="openUpdateRoleDialog(user.id)">Добавить права</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="getUsersData($event)"
  >
  </mat-paginator>
</div>
