
.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user-card {
  width: 350px;
  margin: 1rem auto;
  box-shadow: 5px 8px 7px 0 rgba(0, 0, 0, 0.2);
}

h2, h4 {
  text-align: center;
}

.example-header-image {
  width: 250px;
  height: 250px;
  background-image: url('https://images.indianexpress.com/2020/03/cat.jpg');
  background-size: cover;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.user-display-flex {
  display: flex;
  margin-bottom: 1rem;
}

.user-name-header {
  width: 20%;
}

.user-email-header {
  width: 15%;
}

.user-username-header {
  width: 15%;
}

.user-role-header {
  width: 20%;
}

.user-options-header {
  width: 30%;
  margin-left: auto;
}

.user-block {
  margin-right: 1rem;
}

.user-scroll-viewport {
  width: 100%;
  height: 60px;
}

.add-user {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
