<div>
    <canvas id="consultationChart" height="200px">
    </canvas>

  <form [formGroup]="form" *ngIf="form">
    <mat-form-field class="input-time" color="accent" appearance="outline">
      <mat-label>С</mat-label>
      <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="input-time" color="accent" appearance="outline">
      <mat-label>По</mat-label>
      <input matInput [matDatepicker]="pickerTill" formControlName="tillDate">
      <mat-datepicker-toggle matSuffix [for]="pickerTill"></mat-datepicker-toggle>
      <mat-datepicker #pickerTill color="primary"></mat-datepicker>
    </mat-form-field>

    <button mat-button (click)="updateChart()">Обновить данные</button>
  </form>
</div>
