<div>

  <mat-card class="block-title user-display-flex">

    <div class="user-block user-name-header">
      Имя
    </div>
    <div class="user-block user-email-header">
      email
    </div>
    <div class="user-block user-username-header">
      username
    </div>
    <div class="user-block user-role-header">
      Роль
    </div>
  </mat-card>

  <mat-card class="user-display-flex" >

    <div class="user-block user-name-header">
      {{userProfile.lastName + ' ' + userProfile.firstName}}
    </div>
    <div class="user-block user-email-header">
      {{userProfile.email}}
    </div>
    <div class="user-block user-username-header">
      {{userProfile.username}}
    </div>
    <div class="user-block user-role-header">
      <cdk-virtual-scroll-viewport itemSize="5" class="user-scroll-viewport">
        <div>{{userProfile.roles}}</div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="user-block user-options-header">
      <button mat-button (click)="openChangePasswordDialog()">Изменить пароль</button>
      <button mat-button (click)="openUserUpdateDialog()">Обновить данные</button>
    </div>
  </mat-card>

</div>
