.user-display-flex {
  display: flex;
  margin-bottom: 1rem;
}

.user-name-header {
  width: 20%;
}

.user-email-header {
  width: 15%;
}

.user-username-header {
  width: 15%;
}

.user-role-header {
  width: 20%;
}

.user-options-header {
  width: 30%;
  margin-left: auto;
}

.user-block {
  margin-right: 1rem;
}

.user-scroll-viewport {
  width: 100%;
  height: 60px;
}
