.loading-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
