<!-- Loading spinner -->
<div *ngIf="loading" class="loading-container flex-content-center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>
<router-outlet></router-outlet>
