<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="input">
      <mat-label>Имя автора</mat-label>
      <input matInput id="authorName" formControlName="authorName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Заголовок проекта</mat-label>
      <input matInput id="header" formControlName="header">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>URL видео</mat-label>
      <label for="videoUrl"></label><input matInput id="videoUrl" formControlName="videoUrl">
      <mat-error>
        Please enter a valid URL address
      </mat-error>
    </mat-form-field>

    <div class="images-container">
      <div class="image" *ngFor="let image of project.images">
        <button
          (click)="deleteImage(image.id)"
          class="button-delete" mat-icon-button color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <img [src]="image.preview" alt="image">
      </div>
    </div>

    <div class="form-control">
      <button type="button" mat-raised-button color="primary" (click)="filesInput.click()">Выберите изображения</button>
      <span class="span">{{ imagesName }}</span>
      <input (change)="onImageSelect($event)" multiple #filesInput type="file" class="display-none">
    </div>

    <div class="images-container">
      <img [src]="project.mainImage.preview" alt="image">
    </div>
    <div class="form-control">
      <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Выберите главное изображение
      </button>
      <span class="span">{{ mainImageName }}</span>
      <input (change)="onMainImageSelect($event)" #fileInput type="file" class="display-none">
    </div>

    <div class="form-control">
      <label>Описание ивента:</label>
      <quill-editor formControlName="description"></quill-editor>
    </div>

    <button mat-raised-button
            type="submit"
            [disabled]="form.invalid || submitted"
    >Изменить проект
    </button>

  </form>
</div>
