img {
  width: 300px;
}

.images-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.image {
  position: relative;
  margin-right: 1rem;
}

.button-delete {
  position: absolute;
  top: -25px;
  right: -20px;
}

form div {
  margin-bottom: 1rem;
}
