<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в панель администратора</h2>
  <div class="form-control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>username</mat-label>
      <input matInput id="username" formControlName="username">
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error>Введите не менее 6 символов</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button [disabled]="form.invalid || submitted">Войти</button>
</form>
