<div>
  <div *ngIf="!editMode;">

    <mat-card class="consultation-card">
      <ul>
        <li class="headers">Имя:</li>
        <li class="description">{{consultation.lastName}}&nbsp;{{consultation.firstName}}</li>
        <li class="headers">email:</li>
        <li class="description">{{consultation.email}}</li>
        <li class="headers">Телефон:</li>
        <li class="description">{{consultation.phone}}</li>
        <li class="headers">Дата создания:</li>
        <li class="description">{{consultation.createdAt}}</li>
        <li class="headers">Дата консультации:</li>
        <li class="description">{{consultation.assignedAt}}</li>
        <li class="headers" *ngIf="consultation.student">Студент:</li>
        <li class="description">{{consultation.group}}</li>
        <li class="headers">Статус:</li>
        <mat-chip-list>
          <mat-chip color="primary" selected *ngIf="consultation.consultationStatus === 'CONFIRMED'">Подтвержден</mat-chip>
          <mat-chip color="warn" selected *ngIf="consultation.consultationStatus === 'CANCELLED'">Отменена</mat-chip>
          <mat-chip color="accent" selected *ngIf="consultation.consultationStatus === 'NEW'">Новый</mat-chip>
        </mat-chip-list>
        <li class="headers">Комментарий:</li>
      </ul>
      <mat-card-content>
        <p class="description">
          {{consultation.comment}}
        </p>
      </mat-card-content>
      <mat-card-actions>

        <button mat-button
                (click)="changeStatus('CONFIRMED')"
                *ngIf="consultation.consultationStatus === ('CANCELLED' || 'NEW') || consultation.consultationStatus !== 'CONFIRMED'"
        >Подтвердить
        </button>

        <button mat-button
                *ngIf="consultation.consultationStatus === 'CONFIRMED'"
                (click)="changeStatus('CANCELLED')">
          Отменить
        </button>

        <button mat-button (click)="showForm()">Изменить</button>

      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="form && editMode">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <mat-card class="consultation-card">

        <mat-form-field appearance="outline" class="input">
          <mat-label>Имя</mat-label>
          <input matInput id="firstName" formControlName="firstName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Фамилия</mat-label>
          <input matInput id="lastName" formControlName="lastName">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>email</mat-label>
          <input matInput id="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Телефон</mat-label>
          <input matInput id="phone" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-time">
          <mat-label>Время консультации</mat-label>
          <input matInput type="datetime-local" id="assignedAt" formControlName="assignedAt">
        </mat-form-field>

        <mat-checkbox formControlName="student">Студент</mat-checkbox>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Группа</mat-label>
          <input matInput id="group" formControlName="group">
        </mat-form-field>

        <mat-form-field appearance="outline" class="textarea-doc">
          <mat-label>Комментарий</mat-label>
          <textarea cdkTextareaAutosize matInput id="comment" formControlName="comment"></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent"
                type="submit"
                [disabled]="form.invalid || submitted"
        >Обновить
        </button>
      </mat-card>
    </form>
  </div>
</div>
