.consultation-card {
  width: 700px;
  margin: 0 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

span {
  color: #7c7c7c;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.5rem;
}

.headers{
  color: #7c7c7c;
}

.description {
  margin: 5px 0;
  width: auto;
}

.textarea-doc {
  width: 100%;
}
