.error-page {
  width: 100%;
  height: 600px;
  font-family: "Comic Sans MS", fantasy;
  font-size: 45px;
  text-align: center;
}
.background-image {
  margin: 0;
  padding: 0;
  background-image: url("https://avatanplus.com/files/resources/original/56ec0647e4bdc15389f88901.png");
  background-repeat: no-repeat;
  background-position: center center;
}
