<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание проекта</h1>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Имя автора</mat-label>
    <input matInput id="authorName" formControlName="authorName">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>Заголовок проекта</mat-label>
    <input matInput id="header" formControlName="header">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input">
    <mat-label>URL видео</mat-label>
    <label for="videoUrl"></label><input matInput id="videoUrl" formControlName="videoUrl">
    <mat-error>
      Please enter a valid URL address
    </mat-error>
  </mat-form-field>

  <div class="form-control" >
    <button type="button" mat-raised-button color="primary" (click)="filesInput.click()" >Выберите изображения</button><span class="span">{{ imagesName }}</span>
    <input (change)="onImageSelect($event)" multiple #filesInput type="file"  class="display-none" >
  </div>

  <div class="form-control" >
    <button type="button" mat-raised-button color="primary" (click)="fileInput.click()" >Выберите главное изображение</button><span class="span">{{ mainImageName }}</span>
    <input (change)="onMainImageSelect($event)" #fileInput type="file"  class="display-none" >
  </div>

  <div class="form-control">
    <label>Описание ивента:</label>
    <quill-editor formControlName="description"></quill-editor>
  </div>

  <button mat-raised-button
          type="submit"
          [disabled]="form.invalid"
  >Создать ивент</button>

</form>
