<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="input" >
      <mat-label>Введите название вакансии</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Введите опыт работы</mat-label>
      <mat-select id="experience" formControlName="experience" panelClass="mat-form-field-ripple">
        <mat-option value="INTERN">Intern</mat-option>
        <mat-option value="JUNIOR">JUNIOR</mat-option>
        <mat-option value="MIDDLE">MIDDLE</mat-option>
        <mat-option value="SENIOR">SENIOR</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Введите название компании</mat-label>
      <input matInput id="company" formControlName="company">
    </mat-form-field>

    <div class="form-control">
      <label>Описание вакансии:</label>
      <quill-editor formControlName="description"></quill-editor>
    </div>

    <button mat-raised-button color="accent"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Обновить</button>

  </form>
</div>
