<div>

  <mat-card class="block block-title block-header">
    <div class="event-id-header">
      #
    </div>
    <div class="event-type-header">
      Тип
    </div>
    <div class="event-time-header">
      Время
    </div>
    <div class="event-name-header">
      Название
    </div>
    <div class="event-status-header">
      Статус
    </div>
    <div class="event-options-header">
      <button *appHasRole="canEdit" mat-raised-button [routerLink]="['/admin/event', 'create']">Создать</button>
    </div>
  </mat-card>

  <mat-expansion-panel (click) = "getDescription(event.id)" *ngFor="let event of events; let idx = index" class="block">
    <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
      <mat-panel-title class="event-id">
        {{ idx+1 }}
      </mat-panel-title>
      <mat-panel-title class="event-type">
        {{ event.type }}
      </mat-panel-title>
      <mat-panel-title class="event-time">
        {{ event.time }}
      </mat-panel-title>
      <mat-panel-title class="event-name">
        {{ event.name }}
      </mat-panel-title>
      <mat-panel-title class="event-status">
        <mat-chip-list>
          <mat-chip color="primary" selected *ngIf="event.status === 'PUBLISHED'">Опубликовано</mat-chip>
          <mat-chip color="warn" selected *ngIf="event.status === 'DEVELOPING'">В разработке</mat-chip>
          <mat-chip color="accent" selected *ngIf="event.status === 'FINISHED'">Завершено</mat-chip>
        </mat-chip-list>
      </mat-panel-title>
      <mat-panel-title *appHasRole="canEdit"
                       (click)="expandPanel(expansionPanel, $event)"
                       class="event-options">
        <a class="button change-button" mat-stroked-button (click)="changeStatus(event.id, 'DEVELOPING')" *ngIf="event.status === 'DEVELOPING' || 'FINISHED'" [routerLink]="['/admin', 'event', event.id, 'edit']">Изменить</a><br>
        <button class="button delete-button" mat-stroked-button (click)="openDialog(event.id)" *ngIf="event.status === 'FINISHED'">Удалить</button> <br>
        <button mat-stroked-button (click)="changeStatus(event.id, 'FINISHED')" *ngIf="event.status === 'PUBLISHED'">Завершить</button>
        <button mat-stroked-button (click)="changeStatus(event.id, 'PUBLISHED')" *ngIf="event.status === 'DEVELOPING'">Опубликовать</button>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <div class="display-flex">
        <img src="{{ event.image.main }}" alt="image">
        <cdk-virtual-scroll-viewport itemSize="50" class="scroll-viewport">
          <div>{{ this.eventDescriptionsMap.get(event.id) }}</div>
        </cdk-virtual-scroll-viewport>
      </div>
      <mat-card *ngIf="this.eventEntriesMap.get(event.id).length > 0" class="container-event block-title">
        <div class="container-event-signed container-event-signed-firstName">Имя</div>
        <div class="container-event-signed container-event-signed-lastName">Фамилия</div>
        <div class="container-event-signed container-event-signed-company">Компания</div>
        <div class="container-event-signed container-event-signed-email">Email</div>
        <div class="container-event-signed container-event-signed-student">Студент академии?</div>
        <div class="container-event-signed container-event-signed-delete">Действия</div>
      </mat-card>

      <mat-card *ngFor="let eventEntry of this.eventEntriesMap.get(event.id)" class="container-event">
        <div class="container-event-signed container-event-signed-firstName">{{ eventEntry.firstName }}</div>
        <div class="container-event-signed container-event-signed-lastName">{{ eventEntry.lastName }}</div>
        <div class="container-event-signed container-event-signed-company">{{ eventEntry.company }}</div>
        <div class="container-event-signed container-event-signed-email">{{ eventEntry.email }}</div>
        <div class="container-event-signed container-event-signed-student">
          <button *ngIf="eventEntry.student" mat-flat-button color="primary">Студент</button>
          <button *ngIf="!eventEntry.student" mat-flat-button color="accent">Не студент</button>
        </div>
        <div class="container-event-signed container-event-signed-delete">
          <button (click)="deleteEventEntry(eventEntry.id, event.id)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
    <mat-action-row>
      <button mat-button color="primary" (click)="getEntry(event.id)">Show</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="getEventsData($event)"
  >
</mat-paginator>
</div>
