.block {
  margin-bottom: 1rem;
}

.block-title {
  background: #dddddd;
}

.event-type {
  width: 15%;
}

.event-time {
  width: 10%;
}

.event-name {
  width: 20%;
}

.event-status {
  width: 15%;
}

.event-options {
 width: 25%;
}

button, a {
  margin-right: 1rem;
}

mat-panel-title {
  align-items: center;
  align-content: center;
}

img {
  width: 20%;
}

.block-header {
  display: flex;
}

.event-id-header {
  width: 5%;
}

.event-type-header {
  width: 15%;
  margin-right: 1rem;
}

.event-time-header {
  width: 10%;
  margin-right: 1rem;
}

.event-name-header {
  width: 20%;
  margin-right: 2rem;
}

.event-status-header {
  width: 15%;
  margin-right: 1rem;
}

.event-options-header {
  width: 25%;
}

.container-event {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 1rem;
}

.container-event-signed {
}

.container-event-signed-company {
  width: 20%;
}

.container-event-signed-email {
  width: 15%;
}

.container-event-signed-firstName {
  width: 15%;
}

.container-event-signed-lastName {
  width: 15%;
}

.container-event-signed-student {
  width: 15%;
}

.container-event-signed-delete {
  width: 20%;
  text-align: right;
}

.event-details {
  display: flex;
}

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}
