<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="input">
      <mat-label>Название ивента</mat-label>
      <input matInput id="name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Категория ивента</mat-label>
      <input matInput id="type" formControlName="type">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input">
      <mat-label>Адрес ивента</mat-label>
      <input matInput id="address" formControlName="address">
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-time">
      <mat-label>Введите дату и время</mat-label>
      <input matInput type="datetime-local" id="time" formControlName="time">
    </mat-form-field>

    <div class="form-control">
      <label>Описание ивента:</label>
      <quill-editor formControlName="description"></quill-editor>
    </div>

  <button mat-raised-button color="accent"
          type="submit"
          [disabled]="form.invalid || submitted"
  >Изменить ивент</button>

  </form>

</div>
