<div class="analytics-container">
  <div>
    <app-consultation-analytics></app-consultation-analytics>
  </div>
  <div class="display-flex bar-charts">
    <div>
      <app-vacancy-analytics></app-vacancy-analytics>
    </div>
    <div>
      <app-story-analytics></app-story-analytics>
    </div>
    <div>
      <app-event-analytics></app-event-analytics>
    </div>
  </div>
</div>
