<nav class="navbar">
  <a (click)="logout($event)" *ngIf="auth.isAuthenticated()">
    <i class="fas fa-sign-out-alt"></i>
  </a>
</nav>
<div>
  <input type="checkbox" id="check" checked>
  <label for="check" *ngIf="auth.isAuthenticated()">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>

  <div class="sidebar" *ngIf="auth.isAuthenticated()">

    <div class="header-image">
      <img class="avatar" src="https://images.indianexpress.com/2020/03/cat.jpg" alt="avatar">
    </div>
    <div class="user-name">
      Кабинет, {{username}}
    </div>

    <a [routerLink]="['/admin/analytics', 'dashboard']" routerLinkActive="active"><i class="fas fa-chart-bar"></i><span>Аналитика</span></a>
    <a [routerLink]="['/admin/vacancy', 'dashboard']" routerLinkActive="active"><i class="fas fa-user-plus"></i><span>Вакансии</span></a>
    <a [routerLink]="['/admin/story', 'dashboard']" routerLinkActive="active"><i class="far fa-newspaper"></i><span>Истории</span></a>
    <a [routerLink]="['/admin/event', 'dashboard']" routerLinkActive="active"><i class="far fa-calendar-alt"></i><span>Мероприятия</span></a>
    <a [routerLink]="['/admin/project', 'dashboard']" routerLinkActive="active"><i class="fas fa-project-diagram"></i><span>Проекты</span></a>
    <a [routerLink]="['/admin/consultation', 'dashboard']" routerLinkActive="active"><i
      class="fas fa-hands-helping"></i><span>Консультации</span></a>
    <a [routerLink]="['/admin/user', 'dashboard']" routerLinkActive="active"><i class="fas fa-users-cog"></i><span>Редакторы</span></a>
    <a [routerLink]="['/admin/user', 'profile']" routerLinkActive="active"><i
      class="fas fa-id-card"></i><span>Профиль</span></a>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>
