.sidebar {
  position: fixed;
  left: -240px;
  top: 50px;
  width: 240px;
  height: 100%;
  background: #1e1e1e;
  transition: all .5s ease;
  z-index: 1;
}

.sidebar a {
  display: block;
  color: white;
  height: 65px;
  line-height: 65px;
  padding-left: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-top: 1px solid black;
  border-left: 5px solid transparent;
  box-sizing: border-box;
  transition: all .5s ease;

  &:hover {
    border-left: 5px solid #b93632;
    color: #b93632;
  }
}

.sidebar .active {
  border-left: 5px solid #b93632;
  color: #b93632;
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

#check {
  display: none;
}

label #btn, label #cancel {
  position: fixed;
  cursor: pointer;
  top: 50px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  color: #262626;
  font-size: 29px;
  margin: 15px 30px;
  transition: all .5s ease;
  z-index: 1;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

#check:checked ~ .sidebar {
  left: 0;
}

.header-image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.user-name {
  text-align: center;
  color: white;
  font-size: 28px;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 50px;
  background: #1e1e1e;
  margin-bottom: 2rem;
}

.navbar a {
  color: white;
  cursor: pointer;
  margin-right: 1rem;

  &:hover {
    color: #b93632;
  }
}

.navbar a i {
  font-size: 27px;
}

.container {
  position: relative;
  left: 0;
  width: 1200px;
  margin: 100px auto 0 auto;
  padding: 0 2rem;
  transition: all .5s ease;
}

#check:checked ~ .container {
  left: 122.5px;
}
